.main-section {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    background-color: #f7f7f7;
  }
  
  .text-content h1 {
    font-size: 56px;
    font-weight: bold;
  }
  
  .text-content p {
    margin-top: 10px;
    font-size: 20px;
  }
  
  .start-reading {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 20px;
  }
  
  .image-content img {
    max-width: 100%;
    height: auto;
  }
  